<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578610636419-ea83o56v2rjq90u1jledfj0ql1cnu7da.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578610636419-ea83o56v2rjq90u1jledfj0ql1cnu7da</string>
	<key>API_KEY</key>
	<string>AIzaSyCL4LSxtzJQh_S-hO0gjCRCxfcPveqPXUo</string>
	<key>GCM_SENDER_ID</key>
	<string>578610636419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.direkapp</string>
	<key>PROJECT_ID</key>
	<string>direkapp-a48a8</string>
	<key>STORAGE_BUCKET</key>
	<string>direkapp-a48a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578610636419:ios:e951c442b7760619a35db6</string>
</dict>
</plist>